/* line 7, ../sass/components/_mixins.scss */
.wrapper,
.row {
  *zoom: 1;
}
/* line 9, ../sass/components/_mixins.scss */
.wrapper:before,
.row:before, .wrapper:after,
.row:after {
  content: " ";
  display: table;
}
/* line 14, ../sass/components/_mixins.scss */
.wrapper:after,
.row:after {
  clear: both;
}

/* line 4, ../sass/grid.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/grid.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

/* line 19, ../sass/grid.scss */
.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* line 29, ../sass/grid.scss */
[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

/*This is referred to as interpolation.*/
@media only screen and (min-width: 30em) {
  /* line 38, ../sass/grid.scss */
  .wrapper {
    width: 95%;
    max-width: 65em;
  }

  /* line 43, ../sass/grid.scss */
  .column-1 {
    width: 8.33333%;
  }

  /* line 43, ../sass/grid.scss */
  .column-2 {
    width: 16.66667%;
  }

  /* line 43, ../sass/grid.scss */
  .column-3 {
    width: 25%;
  }

  /* line 43, ../sass/grid.scss */
  .column-4 {
    width: 33.33333%;
  }

  /* line 43, ../sass/grid.scss */
  .column-5 {
    width: 41.66667%;
  }

  /* line 43, ../sass/grid.scss */
  .column-6 {
    width: 50%;
  }

  /* line 43, ../sass/grid.scss */
  .column-7 {
    width: 58.33333%;
  }

  /* line 43, ../sass/grid.scss */
  .column-8 {
    width: 66.66667%;
  }

  /* line 43, ../sass/grid.scss */
  .column-9 {
    width: 75%;
  }

  /* line 43, ../sass/grid.scss */
  .column-10 {
    width: 83.33333%;
  }

  /* line 43, ../sass/grid.scss */
  .column-11 {
    width: 91.66667%;
  }

  /* line 43, ../sass/grid.scss */
  .column-12 {
    width: 100%;
  }
}
